.version {
    font-size: 0.75rem;
    float: right;
    margin-right: 15px;
    margin-top: 0.65rem;
    text-transform: uppercase;
    opacity: 0.6;
    position: absolute;
    bottom: 10px;
    right: 0px;
}