.info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.infoItem {
    display: flex;
    justify-content: center;
    margin: 5px 0 !important;

    &:first-child {
        margin-top: 0 !important;
    }
}