.info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.infoItem {
    display: flex;
    justify-content: center;
    margin: 5px 0 !important;

    &:first-child {
        margin-top: 0 !important;
    }
}

.holdPiece {
    height: 110px;
    @media (min-height: 1280px) {
        height: 220px;
    }
}