.garbage {
    margin-bottom: 20px;

    .label {
        font-family: hackregular;
        font-size: 12pt;
    }

    .garbageProgress {
        width: 100%;

        .progressInner {
            border-bottom: 2px solid rgb(0, 0, 0);
        }
    }
}
