.tetriminoPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0;

    .tetriminoPreviewCanvas {
        width: 100%;
        height: 100%;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
