@import "colors.scss";

.gameOver {
    &.winner {
        background: rgba(255, 200, 0, 0.5);
        color: rgb(255, 200, 0);
    }

    font-family: hackregular;
    color: white;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;

    .gameOverText {
        display: block;
        font-size: 40pt;
    }

    .submitScore, .restart, .back {
        display: block;
        font-size: 20pt;
        cursor: pointer;

        a {
            cursor: pointer;
        }
    }
}

