@import "colors.scss";
@import "./block.scss";

.info {
    font-family: antipasto;
    color: $black;
    padding: 10px;
    background: $white;

    .infoBlock {
        @extend .block;
        width: 120px;

        .value {
            padding: 5px 5px 0 5px;
            font-size: 15pt;
            text-align: center;
        }

        .label {
            border-bottom: 1px solid $white;
            width: 100%;
            padding: 0 5px;
            font-size: 20pt;
            text-align: center;
            box-sizing: border-box;
        }
    }

    .score {
        @extend .infoBlock;
    }

    .lines {
        @extend .infoBlock;

        .value {
            font-size: 20pt;
        }
    }

    .level {
        @extend .infoBlock;

        .value {
            font-size: 20pt;
        }
    }

    .garbage {
        @extend .infoBlock;

        height: auto;
        padding-bottom: 10px;
    }
}
