@import "colors.scss";

.menu {
    font-family: hackregular;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .wrapper {
        background: $white;
        min-width: 300px;
        color: $black;
        border-radius: 5px;
        margin: 5px;

        .content {
            padding: 5px 10px;
        }

        h1 {
            width: 100%;
            padding-left: 10px;
            border-bottom: 1px solid $black;
            margin: 5px 0;
        }

        p {
            margin: 10px 0;

            &.inputFullWidth {
                display: flex;
                width: 100%;

                input {
                    flex-grow: 1;
                }

                button {
                    flex-shrink: 1;
                    margin: 0 0 0 5px;
                }
            }
        }

        a {
            font-weight: bold;
            margin: 10px 0;
            display: block;
            cursor: pointer;
        }

        ul {
            padding-left: 20px;

            li {
                list-style: none;
            }

            li:hover {
                list-style: square;
            }
        }
    }
}
