@import "colors.scss";

.canvasWrapper {
    position: relative;

    .gameCanvas {
        height: 100%;
        box-sizing: border-box;
        border: 1px inset lighten($black, 10%);

        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -o-crisp-edges;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
    }

    .gameOver {
        font-family: antipasto;
        color: $white;
        width: 100%;
        height: 100%;
        background: rgba($black, 0.5);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;

        .gameOverText {
            display: block;
            font-size: 25pt;
            margin-bottom: 10px;
        }

        .info {
            color: $white;
            font-size: 15pt;
            margin-bottom: 5px;

            .label {
                padding-right: 5px;
                color: rgba($white, 0.7);
            }

            .value {
                color: $white;
            }
        }
    }
}
