@import "colors.scss";
@import "./menu.scss";

.settings {
    @extend .menu;

    input[type=range] {
        width: 100%;
        margin: 0 10px;
        height: 40px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 10px;
            background: lighten($black, 10%);
        }

        &::-moz-range-track,
        &::-ms-track {
        }

        &::-moz-range-thumb {
            background-color: $white;
            height: 10px;
            width: 10px;
            -moz-appearance: none;
            -webkit-appearance: none;
            border-radius: 0;
            border: none;
        }

        &::-webkit-slider-thumb {
            background-color: $white;
            height: 10px;
            width: 10px;
            -moz-appearance: none;
            -webkit-appearance: none;
            border-radius: 0;
            border: none;
        }
    }
}
