@import "colors.scss";
@import "./block.scss";

.tetriminoPreview {
    @extend .block;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
