@import "colors.scss";

.scoreboard {
    padding: 10px;
    color: $black;

    .table {
        .head {
            &:first-child {
                border-radius: 5px 0 0 0;
            }

            &:last-child {
                border-radius: 0 5px 0 0;
            }

            background: $white;
            color: $black;
            padding: 3px;
        }

        .wins, .name, .rank, .score {
            color: $black;
            padding: 3px;
            background: rgba($black, 0.1);
        }

        .wins {
            font-weight: bold;
        }

        .score {
            font-style: italic;
        }
    }
}
