@import "colors.scss";

.lobby {

    .chat {
        padding-left: 5px !important;
        min-width: 500px;


        li:hover {
            list-style: none !important;
        }
    }

    .users {
        li:hover {
            list-style: none !important;
        }
    }

    .outer {
        display: flex;
    }

    .id {
        text-align: center;
        margin: 20px 0 25px 0;
        font-weight: bold;
        font-size: 20pt;
    }
}
