.multiPlayer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .wrapper {
        display: flex;
        margin: 0 20px;
    }

    .others {
        margin: 0 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
