@import "../single-player/single-player.scss";
@import "../game-over.scss";

.multiPlayer {
    @extend .game;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .wrapper {
        margin: 0 5px;
    }

    .others {
        margin: 0 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
}
